body{
  margin: 0;
  background-color: #D9D9D9;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer{
  width: 95%;
  background-color: #FE590B;
  z-index: 1;
}

div{
  border-radius: 10px;
}

.overallBackground{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

nav{
  width: 95%;
  background-color: #FE590B;
  height: 7vh;
  z-index: 2;
}

nav ul li{
  list-style-type: none;
}

.logoClass{
  width: 95%;
  background-color: black;
  height: 90vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 0;
}

.bodySectionForMain{
  background-color: white;
  width:95%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.checking{
  background-color: grey;
}
