body{
  margin: 0;
  background-color: #FFEBD6;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3{
  font-size: 25px;
  margin-bottom: 5px;
  background-color: #FFEBD6;
  display: inline-box;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

footer{
  width: 90%;
  background-color: #FE590B;
  z-index: 1;
}

nav p{
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
}

.allIcons{
  margin-left: 5%;
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

h1{
  position: sticky;
  top: 0;
  background-color: #FFEBD6;
  width: 100%;
  text-align: center;
}

.overallBackground{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

nav{
  width: 90%;
  background-color: #FE590B;
  height: 7vh;
  display: flex;
  align-items: center;
  z-index: 2;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

nav ul li a:hover{
  text-decoration: none;
  color: #FFEBD6;
}

nav ul{
  display: inline-block;
  padding: 0;
}

.logoClass{
  width: 90%;
  background-color: black;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 0;
}

.logoClass h1{
  background-color: transparent;
  font-size: 50px;
  margin-bottom: 0;
  position: absolute;
  text-align:unset;
  width: fit-content;
  left: 375px;
  top: 248px;
  padding-left: 180px;
}

.logoClass p{
  margin-top: 0;
  position: absolute;
  left: 375px;
  top: 340px;
  padding-left: 185px;
}

#canvasDisplay{
  position: absolute;
  left: 375px;
  top: 230px;
  display: inline;
}

.horizontalLine{
  background-color: white;
  width: 5px;
  height: 90%;
  margin-left: 40%;
}

.bodySectionForMain{
  background-color: white;
  width:90%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.checking{
  background-color: grey;
}

/* About page */

.block {
  display: flex;
  width: 90%;
  align-items: center;
  background-color: white;
  justify-content: space-evenly;
  height: 70vh;
  flex-direction: row;
  margin-bottom: 20px;
}

.block img,
.block iframe {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.block-reverse {
  background-color: #FA8F5D;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

/* Member list */

.profileDiv{
  background-color: #FA8F5D;
  display: flex;
  width: 650px;
  height: auto;
  margin: 20px;
}

.role{
  margin-top: 0;
}

.profileDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pfp{
  margin: 20px;
  width: 190px;
  height: 150px;
  /* border-radius: 50%; */
  overflow: hidden;
}

.pfpAugust{
  margin: 20px;
  width: 470px;
  height: 150px;
  /* border-radius: 50%; */
  overflow: hidden; 
}

.pfpTree{
  margin: 20px;
  width: 350px;
  height: 150px;
  /* border-radius: 50%; */
  overflow: hidden; 
}



/* Challenges */

.nameSpce{
  background-color: white;
  margin-bottom: 20px;
  width: 90%;
  height: auto;
  min-height: 200px;
}

.h1InChallenges h1{
  position: relative;
  margin: 20px;
}
