:root{
  --boxes: #FA8F5D;
  --boxRev: white;
  --ovrText: black;
  --ovrBack: #FFEBD6;
  --navnfoot: #FE590B;
  --linkColor: blue;
}

[theme-tracker="dark"]{
  --boxes: #837873;
  --boxRev: #C55A28;
  --ovrText: white;
  --ovrBack: #382B26;
  --navnfoot: #CC4D12;
  --linkColor: lightblue;
}

body{
  margin: 0;
  background-color: var(--ovrBack);
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto Mono Variable', monospace;
}

a{
  color: var(--linkColor)
}

a:hover{
  color: var(--ovrText);
}

nav a{
  color: white;
}

h3{
  font-size: 25px;
  margin-bottom: 5px;
  background-color: var(--boxes);
  display: inline-box;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  font-family: 'Ruda Variable', sans-serif;
}

footer{
  width: 90%;
  background-color: var(--navnfoot);
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer p{
  margin: 0;
}

nav p{
  display: inline;
  font-size: 27px;
  margin-left: 21px;
  margin-right: 15px;
  font-family: 'Lora';
}

.allIcons{
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

h1{
  position: sticky;
  top: 0;
  background-color: var(--ovrBack);
  width: 100%;
  text-align: center;
  color: var(--ovrText);
  font-family: 'Source Serif Pro', serif;
}

.overallBackground{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--ovrText);
}

nav{
  width: 90%;
  background-color: var(--navnfoot);
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0 8px 0 8px;
  justify-content: space-between;
  z-index: 2;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
}

nav ul li a{
  text-decoration: none;
  color: var(--ovrText);
}

nav ul li a:hover{
  text-decoration: none;
  color: var(--ovrBack);
}

nav ul{
  display: inline-block;
  padding: 0;
}

.logoClass{
  width: 90%;
  background-color: black;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 0;
  font-family: 'Lora Variable', serif;
}

.logoClass h1{
  background-color: transparent;
  font-size: 150px;
  margin-bottom: 0;
  /* position: absolute; */
  color: white;
  text-align:unset;
  width: fit-content;
  padding-left: 220px;
}

.logoClass p{
  margin-top: 0;
  /* position: absolute; */
  padding-left: 225px;
  color: white;
}

.glitchContainer{
  position: absolute;
  left: 20%;
  /* 255px; */
  /* left: 0; */
  top: 100px;
  width: 60%;
  height: 50%;
  cursor: none;
}

#canvasDisplay{
  position: absolute;
  left: 20%;
  /* 255px; */
  /* left: 0; */
  top: 160px;
  display: inline;
  height: 250px;
}

.horizontalLine{
  background-color: white;
  width: 5px;
  height: 90%;
  /* margin-left: 40%; */
}

.bodySectionForMain{
  background-color: var(--boxRev);
  width:90%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  min-height: 90vh;
  height: fit-content;
}

/* About page */

.block {
  display: flex;
  width: 90%;
  align-items: center;
  background-color: var(--boxRev);
  justify-content: space-evenly;
  color: var(--ovrText);
  height: 70vh;
  flex-direction: row;
  margin-bottom: 20px;
}

.block img,
.block iframe {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.block-reverse {
  background-color: var(--boxes);
  display: flex;
  width: 90%;
  align-items: center;
  color: var(--ovrText);
  justify-content: space-evenly;
  height: 70vh;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

/* Member list */

.profileDiv{
  background-color: var(--boxes);
  color: var(--ovrText);
  display: flex;
  width: 650px;
  height: auto;
  margin: 20px;
}

.profileDiv h3{
  background-color: var(--ovrBack);
 }
 
.profileDiv ul{
  display: flex;
  padding: 0;
}

.profileDiv ul li{
  list-style-type: none;
  margin-right: 10px;
}

.role{
  margin-top: 0;
  margin-bottom: 0;
}

.profileDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pfp{
  margin: 20px;
  width: 190px;
  height: 150px;
  /* border-radius: 50%; */
  overflow: hidden;
}

.desc{
  margin-bottom: 0;
  font-style: italic;
  font-weight: bold;
  width: fit-content;
  background-color:aliceblue;
  color: black;
}

.pfpAugust{
  margin: 20px;
  width: 470px;
  height: 150px;
  /* border-radius: 50%; */
  overflow: hidden; 
}



/* Challenges */

.nameSpce{
  background-color: var(--boxRev);
  color: var(--ovrText);
  margin-bottom: 20px;
  width: 90%;
  height: auto;
  min-height: 200px;
}

.h1InChallenges h1{
  position: relative;
  margin: 20px;
}


@media (max-width: 1000px){
  .logoClass {
    width: 90%;
    background-color: black;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 0;
  }

  .logoClass h1 {
    background-color: transparent;
    font-size: 100px;
    margin-bottom: 0;
    /* position: absolute; */
    color: white;
    text-align: unset;
    width: fit-content;
    padding-left: 210px;
  }

  .logoClass p {
    margin-top: 0;
    /* position: absolute; */
    padding-left: 215px;
    color: white;
  }

  .glitchContainer {
    position: absolute;
    left: 10%;
    /* 255px; */
    /* left: 0; */
    top: 150px;
    width: 75%;
    height: 45%;
    cursor: none;
  }

  #canvasDisplay {
    position: absolute;
    left: 10%;
    /* 255px; */
    /* left: 0; */
    top: 160px;
    display: inline;
    height: 200px;
  }

}


@media (max-width: 700px){
  .logoClass {
    width: 90%;
    background-color: black;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 0;
  }

  nav ul li{
    font-size: 12px;
  }

  nav p{
    margin: 0;
  }

  .logoClass h1 {
    background-color: transparent;
    font-size: 70px;
    margin-bottom: 0;
    /* position: absolute; */
    color: white;
    text-align: unset;
    width: fit-content;
    padding-left: 200px;
  }

  .logoClass p {
    margin-top: 0;
    /* position: absolute; */
    padding-left: 200px;
    color: white;
  }

  .glitchContainer {
    position: absolute;
    left: 4%;
    /* 255px; */
    /* left: 0; */
    top: 155px;
    width: 75%;
    height: 45%;
    cursor: none;
  }

  #canvasDisplay {
    position: absolute;
    left: 5%;
    /* 255px; */
    /* left: 0; */
    top: 160px;
    display: inline;
    height: 150px;
  }

  .profileDiv{
    background-color: var(--boxes);
    color: var(--ovrText);
    display: flex;
    width: 500px;
    height: auto;
    margin: 20px;
}
}

@media (max-width: 600px){
  .logoClass {
    width: 90%;
    background-color: black;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 0;
  }

  .logoClass h1 {
    background-color: transparent;
    font-size: 50px;
    margin-bottom: 0;
    /* position: absolute; */
    color: white;
    text-align: unset;
    width: fit-content;
    padding-left: 200px;
  }

  .logoClass p {
    margin-top: 0;
    /* position: absolute; */
    padding-left: 200px;
    color: white;
  }

  .glitchContainer {
    position: absolute;
    left: -15%;
    /* 255px; */
    /* left: 0; */
    top: 250px;
    width: 75%;
    height: 45%;
    cursor: none;
  }

  #canvasDisplay {
    position: absolute;
    left: -15%;
    /* 255px; */
    /* left: 0; */
    top: 250px;
    display: inline;
    height: 150px;
  }

  .profileDiv {
    background-color: var(--boxes);
    color: var(--ovrText);
    display: flex;
    width: 350px;
    height: auto;
    margin: 20px;
  }
}
